<a href="https://colab.research.google.com/github/Sompa-Bhui/DSA_With_Python_Basic_to_Advance/blob/main/Dat(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators

In [ ]:
#Assignment Operator
print(34+324)
print(34-324)
print(34*324)
print(34/324)
print(34//324)
print(34%324)
print(34**324)

358
-290
11016
0.10493827160493827
0
34
15818639241808953513199203672234427611070335025991611641526275374752144433155839015595876669689071864106503329488204400949966500001402747659778137606233681851233707460938851483005322063233329630932589792025293654619681162564504772639184718873371842285505516173352756256030507896447895240358143813831770065814148193761191600958766005911626101036996270733006938022099142027806582648951606645062776837108081188302419529845202809360691849438552760590485425635142390270129610786227877903218461571547136

In [ ]:
#Assignment Operators:-
a = 5
b = 10

print(a)
print(b)

5
10

In [ ]:
a = 5
a += 2
print(a)

7

In [ ]:
a = 10
a *= 3
print(a)

30

In [ ]:
#Comparison OPerators:
a = 10
b = 20
a == b

False

In [ ]:
#Logical Operator
a = 10
b = 5

# AND operator
print(a > 5 and b < 10)   # True

# OR operator
print(a < 5 or b < 10)    # True

# NOT operator
print(not(a < 5))         # True

True
True
True

In [ ]:
#Identiti operator
a = [1, 2]
b = a
c = [1, 2]
a is b

True

In [ ]:
#Membership Operator
x = [1,2,3,4,5,6]
print(5 in x)

True

In [ ]:
"a" in "apple"       # True
"z" in "apple"       # False
3 in [1, 2, 3, 4]    # True
5 not in [1, 2, 3]   # True

True

In [ ]:
#Bitwise Operator
a = 5     # In binary: 0101
b = 3     # In binary: 0011

# AND
print(a & b)   # 1 (0101 & 0011 = 0001)

# OR
print(a | b)   # 7 (0101 | 0011 = 0111)

# XOR
print(a ^ b)   # 6 (0101 ^ 0011 = 0110)

# NOT
print(~a)      # -6 (inverts all bits of 5)

# Left Shift
print(a << 1)  # 10 (shift left: 0101 -> 1010)

# Right Shi

1
7
6
-6
10

# Data Types

In [2]:
#Numeric Data Type
age = 100
height = 12.43
c = 2 + 4j

print(age, type(age))
print(height, type(height))
print(c, type(c))

100 <class 'int'>
12.43 <class 'float'>
(2+4j) <class 'complex'>

In [4]:
# String Data Type
s1 = 'a'
s2 = "Sompa"
s3 = "My name is Sompa"

print(s1, type(s1))
print(s2, type(s2))
print(s3, type(s3))

a <class 'str'>
Sompa <class 'str'>
My name is Sompa <class 'str'>

In [5]:
isMarried = False
isGraduated = True

print(isMarried, type(isMarried))
print(isGraduated, type(isGraduated))

False <class 'bool'>
True <class 'bool'>

In [7]:
name = None

print(name, type(name))

None <class 'NoneType'>

# Input/Output

In [3]:
first_name = input("Enter your first name")
last_name = input("Enter your last name")
print(first_name, last_name)

Enter your first nameSompa
Enter your last nameBhui
Sompa Bhui

In [4]:
age = int(input())
height = float(input())

print(age, height)

234
56.7
234 56.7

In [5]:
#Output
name = "Sompa"
age = 21
print("Name:", name, "Age:", age)

Name: Sompa Age: 21

In [6]:
full_name = "Sompa Bhui"
age = 21
address = "Jamshedpur"

print(full_name, age, address)

Sompa Bhui 21 Jamshedpur

In [7]:
full_name = "Sompa Bhui"
age = 21
address = "Jamshedpur"

print(full_name)
print(age)
print(address)

Sompa Bhui
21
Jamshedpur

In [8]:
full_name = "Sompa Bhui"
age = 21
address = "Jamshedpur"

print(full_name, age, address, sep="\n")

Sompa Bhui
21
Jamshedpur

In [9]:
full_name = "Sompa Bhui"
age = 21
address = "Jamshedpur"

print(full_name, age, address, end = "&&")

Sompa Bhui 21 Jamshedpur&&