<a href="https://colab.research.google.com/github/Sompa-Bhui/DSA_With_Python_Basic_to_Advance/blob/main/Day(7).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Redundant code (Repeat) // not good code
#To remove redundanty code we use function
a=5
b=10

sum = a+b
print(sum)

#more lines of code

a=2
b=10
sum=a+b
print(sum)

a=12
b=17
sum=a+b
print(sum)

15
12
29

In [4]:
def calc_sum(a, b):
    sum = a + b
    print(sum)
    return sum

# print(calc_sum(2, 3))
# print(calc_sum(5, 10))
# print(calc_sum(12, 17))

calc_sum(2, 3)
calc_sum(5,10)
calc_sum(12,17)

5
15
29

29

In [ ]:
 def calc_sum(x,y):
  sum=x+y
  print(sum)
  return sum

calc_sum
calc_sum(5,10)
calc_sum(12,17)

12
15
29

29

In [ ]:
#function defination
def calc_sum(a,b): #parameters
  return a+b

sum = calc_sum(1,2)  #function call; 1&2function srguments
print(sum)

3

In [11]:
def print_hello():
  print("hello")

print_hello()
print_hello()
print_hello()
print_hello()
print_hello()

hello
hello
hello
hello
hello

In [ ]:
def print_hello():
  print("hello")

print(print_hello())

hello
None

In [ ]:
def print_hello():
  print("hello")

output = print_hello()
print(output)

hello
None

In [1]:
#Avg of three numbers

def avg(a,b,c):
  return (a+b+c)/3

In [6]:
#function defination
def calc_sum(a,b):   # a & b parameters
  return a+b

#Function call
sum = calc_sum(1,2)  # 1 & 2 arguments
print(sum)

3

In [13]:

  def print_hello():
    print("OKKK")


print_hello()
print_hello()
print_hello()
print_hello()
print_hello()

OKKK
OKKK
OKKK
OKKK
OKKK

In [14]:
def print_hello():
  print("hello")

output = print_hello()
print(output)

hello
None

In [15]:
#AVG of three numbers

def calc_avg(a,b,c):
  sum = a+b+c
  avg = sum/3
  print(avg)
  return avg

calc_avg(4,5,6)

5.0

5.0

In [17]:
print("sompa","bhui")    #,sep = " "

sompa bhui

In [18]:
print("sompa")
print("bhui")   #end = "\n"

sompa
bhui

In [19]:
print("sompa", end=" ")
print("bhui")

sompa bhui

In [23]:
print("sompa", end="$")
print("bhui")

sompa$bhui

In [25]:
def cal_prod(a,b):
  print(a*b)
  return a*b

cal_prod

In [27]:
def cal_prod(a=1, b=1):
  print(a * b)
  return a * b

cal_prod()

1

1

In [30]:
#WAp to print the length of a list \. (list is the parameter)

cities = ["delhi", "gurgaon", "noida", "mumbai", "chennai"]
heroes = ["thor", "ironman", "captain america", "shaktiman"]
def print_len(list):
  print(len(list))

print_len(cities)
print_len(heroes)

5
4

In [36]:
#WAP to print the element of a list in a single line. (list is the parameter)

cities = ["delhi", "gurgaon", "noida", "mumbai", "chennai"]
heroes = ["thor", "ironman", "captain america", "shaktiman"]

# Function to print list elements in a single line
def print_list(lst):
    for i in lst:
        print(i, end=" ")
    print()  # for new line

# Call the function
print_list(cities)
print_list(heroes)

delhi gurgaon noida mumbai chennai
thor ironman captain america shaktiman

In [47]:
#WAP to find the factorial of n.(n is the parameter)

# n=5
# fact = 1
# for i in range(1, n+1):
#   fact *= i
# print(fact)

def cal_fact(n):
  fact = 1
  for i in range(1, n+1):
    fact *= i
  print(fact)

cal_fact(6)

720

In [48]:
#WAP to convert USD to INR

def converter(usd_val):
  inr_val = usd_val * 83
  print(usd_val, "USD =", inr_val, "INR")

converter(1)

1 USD = 83 INR

In [49]:
# Function to check odd or even
def check_odd_even(number):
    if number % 2 == 0:
        return "even"
    else:
        return "odd"

# Take input from user
num = int(input("Enter a number: "))

# Call the function and print the result
result = check_odd_even(num)
print(result)

Enter a number: 4
even

# Recursion

In [52]:
def show(n):
  print(n)
show(5)

5

In [53]:
#Recursive Function

def show(n):
  if(n == 0):
    return
  print(n)
  show(n-1)

show(5)

5
4
3
2
1

In [62]:
def fact(n):
  if(n == 0):
    return 1
  return n * fact(n-1)
print(fact(5))

120

In [67]:
#WAP a recursive function to calculate the sum of first n natural numbers.

def calc_sum(n):
  if(n == 0):
    return 0
  return calc_sum(n-1) + n

sum = calc_sum(5)
print(sum)

15

In [69]:
# Write a recursive function to print all elements in a list.
# Hint: USe list & Index as parameters

def print_list(list, idx=0):
  if(idx == len(list)):
    return
  print(list[idx])
  print_list(list, idx+1)

fruits = ["mango", "litchi", "apple", "banana"]
print_list(fruits)

mango
litchi
apple
banana