<a href="https://colab.research.google.com/github/Sompa-Bhui/DSA_With_Python_Basic_to_Advance/blob/main/Day(5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary

In [ ]:
info = {
    "key" : "value",
    "name" : "SompaBhui",
    "learning" : "Coding",
    "age" : 21,
    "is_adult" : True,
    "marks" : 98

}

print(info)

{'key': 'value', 'name': 'SompaBhui', 'learning': 'Coding', 'age': 21, 'is_adult': True, 'marks': 98}

In [ ]:
info = {
    "name" : "Sompa_Bhui" ,
    "Subjects" : ["Python", "SQL", "Excel"],
    "Field_of_interest" : ("Data_Science", "SDE", "Data_Analyst"),
    "age" : 21,
    "is_adult" : True,
    "Cgpa" : 8.6
}

info["name"] = "Sompa"  #Overwrite
info["surname"] = "Bhui"


print(info)
print(info["name"])
print(info["Subjects"])

print(type(info))

{'name': 'Sompa', 'Subjects': ['Python', 'SQL', 'Excel'], 'Field_of_interest': ('Data_Science', 'SDE', 'Data_Analyst'), 'age': 21, 'is_adult': True, 'Cgpa': 8.6, 'surname': 'Bhui'}
Sompa
['Python', 'SQL', 'Excel']
<class 'dict'>

In [ ]:
null_dict = {}
null_dict["name"] = "Moni"
print(null_dict)
print(type(null_dict))

{'name': 'Moni'}
<class 'dict'>

In [ ]:
# Nested Dictionary
student  = {
    "name" : "Bob",
    "sub" : {
        "phy" : 91,
        "chm" : 92,
        "math" : 100
    }
}
print(student)

# print(student.keys())
# print(list(student.keys()))  #typecasting
# print(student.values())
# print(list(student.values()))

# print(len(student))
# print(len(list(student.items())))

# print(student.items())
# print(list(student.items()))

# pairs = list(student.items())
# print(pairs[0])

# print(student["name"])
# print(student.get("name"))

# print(student["name2"])  #---->erroe
print(student.get("name2"))  #no error -->None

student.update({"city" : "delhi"})
print(student)

{'name': 'Bob', 'sub': {'phy': 91, 'chm': 92, 'math': 100}}
None
{'name': 'Bob', 'sub': {'phy': 91, 'chm': 92, 'math': 100}, 'city': 'delhi'}

In [ ]:
student = {"name": "Sompa", "age": 21, "marks": 95}
print(student)

{'name': 'Sompa', 'age': 21, 'marks': 95}

In [ ]:
# Empty dictionary
d = {}

# With data
person = {"name": "Bob", "age": 25}

print(person)

# Using dict() function
data = dict(country="India", capital="Delhi")

print(data)

{'name': 'Bob', 'age': 25}
{'country': 'India', 'capital': 'Delhi'}

In [ ]:
student = {"name": "Sompa", "age": 21, "marks": 95}

print(student["name"])      # Sompa
print(student.get("age"))   # 21
print(student.get("city", "Not Found"))  # safe access with default

Sompa
21
Not Found

In [ ]:
student = {"name": "Sompa", "age": 21}

student["marks"] = 90        # add new key
student["age"] = 22          # update existing key

print(student)  # {'name': 'Sompa', 'age': 22, 'marks': 90}

{'name': 'Sompa', 'age': 22, 'marks': 90}

In [ ]:
student = {"name": "Alice", "age": 22, "marks": 90}

student.pop("age")     # remove by key
student.popitem()      # remove last inserted item
del student["name"]    # delete using del
student.clear()        # remove all

print(student)

{}

In [ ]:
student = {"name": "Alice", "age": 22, "marks": 90}

# Loop through keys
for key in student:
    print(key)

# Loop through values
for value in student.values():
    print(value)

# Loop through key-value pairs
for key, value in student.items():
    print(key, ":", value)

name
age
marks
Alice
22
90
name : Alice
age : 22
marks : 90

In [ ]:
student = {"name": "Alice", "age": 22}

print(student.keys())     # dict_keys(['name', 'age'])
print(student.values())   # dict_values(['Alice', 22])
print(student.items())    # dict_items([('name', 'Alice'), ('age', 22)])

dict_keys(['name', 'age'])
dict_values(['Alice', 22])
dict_items([('name', 'Alice'), ('age', 22)])

In [ ]:
students = {
    "101": {"name": "Alice", "marks": 95},
    "102": {"name": "Bob", "marks": 88}
}

print(students["101"]["name"])  # Alice

Alice

# Set

In [ ]:
collection = {1,2,3,4}
print(collection)
print(type(collection))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
collection = {1, 2, 2, 2, 3, 4, "hello", "world"}
print(collection)
print(len(collection))

{1, 2, 3, 4, 'world', 'hello'}
6

In [ ]:
collection = set()    #empty set; syntexx
collection1 = {}
print(type(collection))
print(type(collection1))

<class 'set'>
<class 'dict'>

In [ ]:
collection = set()
collection.add(1)
collection.add(2)
collection.add(2)

collection.remove(1)

collection.add("sompa")
collection.add((1,2,3))
# collection.add([1,2,3])   -->can't add list on set, bcz list is mutable
print(collection)

{2, (1, 2, 3), 'sompa'}

In [ ]:
collection = {"hello", "moni", "world", "coding", "python"}

print(collection.pop())
print(collection.pop())

coding
python

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))

print(set1)
print(set2)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 3}
{3, 4, 5}

In [ ]:
# Store following word meanings in a python dictionary
# table : "a piece of furniture", :list of facts & figures"
#cat: "a small animal"

dict = {
    "cat" : "a small animal:",
    "table" : ["a piece of furniture", "list of facts & figures"]
}

print(dict)

{'cat': 'a small animal:', 'table': ['a piece of furniture', 'list of facts & figures']}

In [ ]:
# You are given a list of subjects for students. Assume one classroom is required for 1 subjects. How many classrooms are needed by all srudents
# "python", "java", "C++", "python", "javascript",
# "java", "python", "java", "C++", "C"

subjects = {
    "python", "java", "C++", "python", "javascript", "java", "python", "java", "C++", "C"
}

print(len(subjects))

5

In [ ]:
#WAP to enter marks of 3 subjects from the user and store them in a Dictionary.
#Start with an empty dictionary & add one by one . Use subject name as key &
#marks as value


marks = {}

x = int(input("Enter marks of phy: "))
marks.update({"phy" : x})

x = int(input("Enter marks of chem: "))
marks.update({"chem" : x})

x = int(input("Enter marks of math: "))
marks.update({"math" : x})

print(marks)

Enter marks of phy: 98
Enter marks of chem: 97
Enter marks of math: 96
{'phy': 98, 'chem': 97, 'math': 96}

In [ ]:
values = {9, 9.0}
print(values)

{9}

In [ ]:
values = {9, "9.0"}
print(values)

{9, '9.0'}

In [ ]:
a = int(input("Enter a number: "))
b = i=float(input("Enter a number:"))
print(a, b)

Enter a number: 9
Enter a number:9.0
9 9.0