<a href="https://colab.research.google.com/github/Sompa-Bhui/DSA_With_Python_Basic_to_Advance/blob/main/Day(4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List:-

In [ ]:
# marks1 = 94.4
# marks2 = 87
# marks3 = 95.5
# marks4 = 66.3
# marks5 = 45.1

marks = [94.4, 87, 95.5, 66.3, 45.1]
print(marks)
print(type(marks))
len(marks)
print(marks[0])
print(marks[1])
print(marks[2])
print(marks[3])
print(marks[4])

[94.4, 87, 95.5, 66.3, 45.1]
<class 'list'>
94.4
87
95.5
66.3
45.1

In [ ]:
student = ["Sompa", 95, 21, "Jamshedpur"]

student[0] = "Moni"

print(student)

['Moni', 95, 21, 'Jamshedpur']

In [ ]:
marks = [85, 94, 76, 63, 48]
print(marks[1:])
print(marks[:4])
print(marks[1:4])
print(marks[-3:-1])

[94, 76, 63, 48]
[85, 94, 76, 63]
[94, 76, 63]
[76, 63]

In [ ]:
list = [2,1,3]
list.append(4)
print(list)
print(list.append(5))
print(list)
print(list.sort())
print(list)

[2, 1, 3, 4]
None
[2, 1, 3, 4, 5]
None
[1, 2, 3, 4, 5]

In [ ]:
list = [2,1,3]
list.sort(reverse=True)
print(list)

[3, 2, 1]

In [ ]:
list = ["banana", "litchi", "apple"]
print(list.sort())
print(list)

None
['apple', 'banana', 'litchi']

In [ ]:
list = ['a', 'd', 'e', 'f', 'c', 'b']
list.sort(reverse=True)
print(list)
list.sort()
print(list)
list.reverse()
print(list)

['f', 'e', 'd', 'c', 'b', 'a']
['a', 'b', 'c', 'd', 'e', 'f']
['f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
list = [2,1,3]
list.insert(1,5)
print(list)

[2, 5, 1, 3]

In [ ]:
list = [2,1,3,1]
list.pop(0)
print(list)

[1, 3, 1]

In [ ]:
a = [1, 2, 3]
b = a            # reference copy (same memory)
c = a.copy()     # actual copy
d = list(a)      # another way

In [ ]:
fruits = ["apple", "banana", "mango"]

# For loop
for f in fruits:
    print(f)

# With index
for i in range(len(fruits)):
    print(i, fruits[i])

apple
banana
mango
0 apple
1 banana
2 mango

# Tuples

In [ ]:
tup = (2,1,3,1)
print(type(tup))
print(tup[0])
print(tup[1])
print(tup[2])
print(tup[3])

<class 'tuple'>
2
1
3
1

In [ ]:
tup = ()
print(tup)

()

In [ ]:
tup1 = (1)
print(type(tup1))

tup2 = (1,)
print(type(tup2))

tup3 = ("1")
print(type(tup3))

tup4 = ("1",)
print(type(tup4))

<class 'int'>
<class 'tuple'>
<class 'str'>
<class 'tuple'>

In [ ]:
tup=(1,2,3,4)
print(tup[1:3])

(2, 3)

In [ ]:
tup = (1,2,3,4)
print(tup.index(2)) #element 2, index 1 position main hai

1

In [ ]:
tup = (1,2, 3 ,4 ,1)
print(tup.count(1))

2

In [ ]:
# WAP to ask the user to enter names of their 3 favorite movies and store them in List.

movies = []
mov1 = input("Enter First movie: ")
mov2 = input("Enter second movie: ")
mov3 = input("Enter third movie:")

movies.append(mov1)
movies.append(mov2)
movies.append(mov3)
print(movies)

Enter First movie: 3 Idiot
Enter second movie: Luck
Enter third movie:No Problem
['3 Idiot', 'Luck', 'No Problem']

In [ ]:
movies  = []
movies.append(input("Enter 1st movie: "))
movies.append(input("Enter 2nd movie: "))
movies.append(input("Enter 3rd movie: "))

print(movies)

Enter 1st movie: lucy
Enter 2nd movie: luck
Enter 3rd movie: NP
['lucy', 'luck', 'NP']

In [2]:
# WAP to check if a list contains a palindrome of elements. (Hint: use copy() method)
# [1,2,3,2,1] [1, "abc", "abc", 1]

list = [1,2,1,2,1]
list_copy = list.copy()
list_copy.reverse()

if list == list_copy:
  print("List is palindrome")
else:
  print("List is not palindrome")

List is palindrome

In [6]:
# WAP to count the number of student with the "A" grade in the following tuple
# ["C","D","A", "A", "B", "B", "A"]

grade = ("C","D","A", "A", "B", "B", "A")
print(grade.count("A"))

3

In [4]:
#Store the above values in a list and sort them from "A" to "D"
grade = ["C","D","A", "A", "B", "B", "A"]
grade.sort()
print(grade)

['A', 'A', 'A', 'B', 'B', 'C', 'D']