<a href="https://colab.research.google.com/github/Sompa-Bhui/DSA_With_Python_Basic_to_Advance/blob/main/Day(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Control Statements

In [ ]:
#Take input of age and on the basis of age print eligible or not elogible for driving licences
age = int(input())
if (age>=18):
  print("Eligible for Driving License")
else:
  print("Not Eligible for Driving License")

25
Eligible for Driving License

In [ ]:
#nested if
age = int(input())
if(age>=18):
  test = input()
  if test=="PASS":
    print("Eligible for Mains Exam")
  else:
    print("Not Eligible for Mains Exam")

45
PASS
Eligible for Mains Exam

In [ ]:
#marks

marks = int(input())

if marks>=90:
  print("Excellent")
elif marks>=70:
  print("Good")
elif marks>=40:
  print("Fair")
else:
  print("Poor")

39
Poor

In [ ]:
temp = int(input())

if temp<=50 and temp>=25:
  print("Hot")
elif temp<=25 and temp>=10:
  print("Moderate")
elif temp<10:
  print("Extremely Cold")

11
Moderate

In [ ]:
weather = "rainy"
hunger = True

if weather == "rainy":
    print("Take an umbrella.")
elif hunger:
    print("Eat food.")
else:
    print("Enjoy your day!")

Take an umbrella.

In [ ]:
#Ternary Operator:- In here we write if else on single line
age = int(input())
result = "Eligible" if age>=18 else "Not Eligible"
print(result)

18
Eligible

# Loops

In [ ]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [ ]:

total = 0
for i in range(1, 101):
    total += i
print("Sum =", total)

Sum = 5050

In [ ]:
n = int(input("Enter a number:"))
fact = 1
i = 1
while i <= n:
  fact *= i
  i += 1
  print("Factorial is", fact)

Enter a number:3
Factorial is 1
Factorial is 2
Factorial is 6

In [ ]:
i = 0

while i<5:
  print(i,end=" ")
  i+=1

0 1 2 3 4

In [ ]:
list1 = [3,3,5,2,1]

for i in list1:
  print(i, end=" ")

3 3 5 2 1

In [ ]:
#Range:- It prints from start to end-1
for i in range(1,11):
  print(i, end=",")

1,2,3,4,5,6,7,8,9,10,

In [ ]:
for i in range(5,11,2):
  print(i, end=" ")

5 7 9

In [ ]:
#Print Negative Order
for i in range(20,0,-1):
  print(i, end=" ")

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

# Function

In [ ]:
def printName(name):
  print(name)

printName("Sompa Bhui")

Sompa Bhui

In [ ]:
def addTwoNumbers(a,b):
  sum = a+b
  return sum
ans = addTwoNumbers(4,7)
print(ans)

11

In [ ]:
def say_hello():
    print("Hello! Welcome to Python.")

say_hello()  # Call the function

Hello! Welcome to Python.

In [ ]:
def square(x):
    return x * x

result = square(5)
print("Square is:", result)  # Output: 25

Square is: 25

In [ ]:
# ✅ Basic Function

def greet():
  print("Hell0, world!")

greet()

Hell0, world!

In [ ]:
  # ✅ Function with Parameters
def greet(name):
    print(f"Hello, {name}!")

greet("Sompa")

Hello, Sompa!

In [ ]:
# ✅ Function with Return Value
def add(a, b):
    return a + b

result = add(5, 3)
print("Sum is:", result)

Sum is: 8

In [ ]:
def add(a, b):
  return a+b
result = add(5, 3)
print("Sum is:", result)

Sum is: 8

In [ ]:
# Function with Default Parameters
def greet(name="Guest"):
  print(f"Hello, {name}!")

greet()
greet("Sompa")

Hello, Guest!
Hello, Sompa!

In [ ]:
# ✅ Function with Keyword Arguments
def info(name, age):
    print(f"Name: {name}, Age: {age}")

info(age=25, name="Ali")

Name: Ali, Age: 25

In [ ]:
#Function with keywords Arguments
def info(name, age):
  print(f"Name: {name}, Age: {age}")

info(age=21, name="Sompa")

Name: Sompa, Age: 21

In [ ]:
# ✅ Function with *args (Multiple Positional Arguments)
def total(*numbers):
    print("Sum is:", sum(numbers))

total(1, 2, 3, 4, 5)

Sum is: 15

In [ ]:
# ✅ Function with **kwargs (Multiple Keyword Arguments)
def profile(**details):
  for key, value in details.items():
    print(f"{key}: {value}")

profile(name="Sompa", age=21, country="India")

name: Sompa
age: 21
country: India

In [ ]:
#Lambda/Anonymous Functions

square = lambda x: x*x
print(square(5))

add = lambda a, b: a+b
print(add(3,4))

25
7

In [ ]:
# ✅ Higher-Order Function (Function takes another function)
def apply(func, value):
    return func(value)

def double(x):
    return x * 2

print(apply(double, 10))

20