<a href="https://colab.research.google.com/github/Sompa-Bhui/DSA_With_Python_Basic_to_Advance/blob/main/Day(6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loop

# While Loop

In [ ]:
# 1-5 print
i=1
while i<=5:
  print(i)
  i+=1
print("Loop Ended")

1
2
3
4
5
Loop Ended

In [ ]:
#print 5-1

i=5
while i>=1 :
  print(i)
  i -= 1

5
4
3
2
1

In [ ]:
# Infinite Loop
# i=5
# while i<6:
#   print(i)
#   i-=1

# pribt("Loop end")

In [ ]:
# Prin tnumber from 1 to 100

i=1
while i<=100:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
#Print 100 to 1

i=100
while i>=1:
  print(i)
  i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#Print the multiplication table of the number n
#n=3

i=1
while i <= 10:
  print(3*i)
  i += 1

3
6
9
12
15
18
21
24
27
30

In [ ]:
i=1
while i <= 5:
  print(10*i)
  i+=1

10
20
30
40
50

In [ ]:
n = int(input("Enter number: "))
i = 1
while i <= 10:
  print(n*i)
  i += 1

Enter number: 5
5
10
15
20
25
30
35
40
45
50

In [ ]:
# Print the element of the following list using a loop:
# [1,4,9,16,25,36,49,64,81,100]

nums =  [1,4,9,16,25,36,49,64,81,100]
idx = 0
while idx < len(nums):
  print(nums[idx])
  idx += 1

1
4
9
16
25
36
49
64
81
100

In [ ]:
  heroes = ["ironman", "thor", "superman", "batman"]

#traverse

  i=0
  while i < len(heroes):
    print(heroes[i])
    i+=1

ironman
thor
superman
batman

In [ ]:


nums = (1,4,9,16,25,36,49,64,81,100)

x=36
i=0
while i < len(nums):
  if(nums[i] == x):
    print("Found")
    i+=1

In [ ]:
i=1
while i<=10:
  print(i)
  if (i==3):
    break
  i += 1

print("end of the loop")

In [ ]:
# Search for a number x in this tuple using loop.
# (1,4,9,16,25,36,49,64,81,100)

nums = (1,4,9,16,25,36,49,64,81,100)

x=36
i=0
while i < len(nums):
  if(nums[i] == x):
    print("Found")
    break
  else:
    print("Finding..")
  i += 1
print("End of loop")

In [ ]:
i = 0
while i <= 5:
  print(i)
  if (i==3):
    i += 1
    continue   #skip
  i+= 1

In [ ]:
i=1
while i <= 10:
  if(i%2 ==0):
    i += 1
    continue
  print(i)
  i += 1

In [ ]:
i=1
while i<=10:
  if(i%2!=0):
    i += 1
    contine
    print(i)
    i += 1

In [1]:
count = 1
while count <= 5:
    print("Count:", count)
    count += 1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

# For Loop

In [7]:
nums = [1,2,3,4,5]
for val in nums:
  print(val)

1
2
3
4
5

In [8]:
veg = ["potato", "brinjal", "ladyfinger", "cucumber"]
for val in veg:
  print(val)

potato
brinjal
ladyfinger
cucumber

In [9]:
tup = (1,2,3,4,5)
for num in tup:
  print(num)

1
2
3
4
5

In [11]:
str = "apnacollege"

for char in str:
  print(char)
else:
  print("END")

a
p
n
a
c
o
l
l
e
g
e
END

In [12]:
str = "SompaBhui"

for char in str:
  if(char == 'B'):
    print("B found")
    break
  print(char)
else:
  print("END")

S
o
m
p
a
B found

In [13]:
# Print the element of the following list using a loop:
# [1,4,9,16,25,36,49,64,81,100]

nums = [1,4,9,16,25,36,49,64,81,100]

for el in nums:
  print(el)

1
4
9
16
25
36
49
64
81
100

In [15]:
# Search for a number x in this tuple using loop.
# (1,4,9,16,25,36,49,64,81,100)

#Linear Search

nums = (1,4,9,16,25,36,49,64,81,100,49)
x=49
idx=0
for el in nums:
  if(el == x):
    print("num found at idx", idx)
    # break
  idx += 1

num found at idx 6
num found at idx 10

In [18]:
seq = range(5)
print(seq[0])
print(seq[1])
print(seq[2])
print(seq[3])
print(seq[4])

0
1
2
3
4

In [19]:
seq = range(5)
for el in seq:
  print(el)

0
1
2
3
4

In [20]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(10):    #range(stop)
  print(i)

for i in range(2, 10):    #range(start, stop)
  print(i)

0
1
2
3
4
5
6
7
8
9
2
3
4
5
6
7
8
9

In [24]:
for i in range(2, 10, 2):       #(start, stop, step)
  print(i)

2
4
6
8

In [26]:
for i in range(2, 100,10):
  print(i)

2
12
22
32
42
52
62
72
82
92

In [28]:
for i in range(1, 101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [30]:
for i in range(100, 0, -1):
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [31]:
n = int(input("Enter Number: "))

for i in range(1, 11):
  print(n*i)

Enter Number: 3
3
6
9
12
15
18
21
24
27
30

In [33]:
for i in range(5):
  pass

print("Some useful work")

Some useful work

In [34]:
if i>5:
  pass

In [39]:
#WAP to find the sum of first n natural numbers.(using while)

# n = 5

# sum=0
# for i in range(n+1):
#   sum += i

# print("total sum", sum)


n=7
sum=0
i=1
while i<=n:
  sum += i
  i += 1

print("total sum", sum)

total sum 28

In [43]:
#WAP to find the factorial of first n numbers

# n=5
# fact=1
# i=1
# while i<=n:
#   fact *= i
#   i += 1

# print("factorial=", fact)


n=5
fact = 1

for i in range(1, n+1):
  fact *= i

print("factorial", fact)

factorial 120