<a href="https://colab.research.google.com/github/Sompa-Bhui/DSA_With_Python_Basic_to_Advance/blob/main/Day0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello Coder!")

Hello Coder!

# Variables

In [ ]:
# String variable
name = "Sompa"

# Integer variable
age = 21

# Float variable
height = 5.6

# Boolean variable
is_student = True

print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Student:", is_student)

Name: Sompa
Age: 21
Height: 5.6
Student: True

In [ ]:
x = 10
y = "Python"
z = 3.14

print(type(x))  # <class 'int'>
print(type(y))  # <class 'str'>
print(type(z))  # <class 'float'>

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
a, b, c = 5, 10, 15
print(a, b, c)

# Same value to multiple variables
x = y = z = 100
print(x, y, z)

5 10 15
100 100 100

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print("Hello", name, "you are", age, "years old.")

Enter your name: Sompa
Enter your age: 21
Hello Sompa you are 21 years old.

In [ ]:
x = 10
y = 3

print("Addition:", x + y)
print("Subtraction:", x - y)
print("Multiplication:", x * y)
print("Division:", x / y)
print("Floor Division:", x // y)
print("Modulus:", x % y)
print("Power:", x ** y)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Power: 1000

In [ ]:
m = 87
t = 64

avg = (m+t) / 2
print(avg)

75.5

# Keywords

In [ ]:
# 1. Using Control Keywords (if, else, elif)

age = 18

if age < 18:
    print("You are a minor.")
elif age == 18:
    print("You're exactly 18!")
else:
    print("You are an adult.")

You're exactly 18!

In [ ]:
# 2. Using Value Keywords (True, False, None)

light_on = True

if light_on:
    print("The light is ON.")
else:
    print("The light is OFF.")

The light is ON.

# Identifiers

In [ ]:
name = "Sompa"
Name = "Sompa"
age_1 = 21
my_name = "Sompa_Bhui"
print(name)
print(Name)
print(age_1)
print(my_name)

Sompa
Sompa
21
Sompa_Bhui

In [ ]:
name_10 = "Raj"
age1 =22
_address = "Jamshedpur"

print(name_10)
print(age1)
print(_address)

Raj
22
Jamshedpur

In [ ]:
# Variables are case Sensitive
name = "Moni"
Name = "Sompa"

print(Name)
print(name)

Sompa
Moni

# Comments

In [1]:
#This is Single Line Comments

#This is multi line comments
# We have to use hash
# in every line

'''We can use this for doc string'''
""" We can use also use double quotes for doc string"""

' We can use also use double quotes for doc string'